*~
.buildpath
.project
.settings
.settings/*
/jeuderole/cache/twig/*
/jeuderole/cache/*.html
/jeuderole/cache/*.php
/jeuderole/cache/*.lock
/jeuderole/composer.*
/jeuderole/config*.php
/jeuderole/files/*
!/jeuderole/files/.htaccess
!/jeuderole/files/index.htm
/jeuderole/images/avatars/gallery/*
!/jeuderole/images/avatars/gallery/index.htm
/jeuderole/images/avatars/upload/*
!/jeuderole/images/avatars/upload/.htaccess
!/jeuderole/images/avatars/upload/index.htm
/jeuderole/images/ranks/*
!/jeuderole/images/ranks/index.htm
/jeuderole/language/*
!/jeuderole/language/index.htm
!/jeuderole/language/fr
/jeuderole/store/*
!/jeuderole/store/.htaccess
!/jeuderole/store/index.htm
/jeuderole/styles/*
!/jeuderole/styles/index.htm