<!-- INCLUDE overall_header.html -->
<h2>Bienvenue sur la boutique 2666.</h2>

<div class="alert alert-info" role="alert">

	<p class="text-justify">La boutique a pour unique vocation de
		rentabiliser les serveurs loués pour faire tourner tous nos forums. Je
		n'utilise pas les sites tels ForumActif en raison de la publicité,
		mais aussi de l'absence totale de propriété intellectuelle. ForumActif
		est en effet en droit de fermer tout site selon leurs désirs. Même si
		ce n'est pas dans leurs habitudes, je ne tiens pas à ce que nos
		créations disparaissent.</p>
	<p class="text-justify">
		Me refusant à toute publicité envahissante et ne pouvant payer seul
		les frais du serveur s'élevant à 200€ par an, j'ai mis en place une
		boutique Amazon. Nous vous y conseillons certains livres et certaines
		séries que ma femme et moi apprécions. Mais surtout, vous pouvez y
		acheter tout ce que vous voulez. Le simple fait de passer sur notre
		site et de cliquer sur un lien de la boutique ou <a
			href="http://www.amazon.fr/278-3171060-0758328?_encoding=UTF8&camp=2386&creative=8478&linkCode=sb1&tag=2666-livre-21"
			class="tooltip-link alert-link" title="Accès à Amazon">sur ce
			lien direct</a>, nous fera récupérer de 2 à 10% de votre commande&nbsp;!			
	</p>

	<p class="text-justify">Rien d'obligatoire donc, mais cela nous
		aide beaucoup. Merci de votre aide&nbsp;!</p>
</div>

<div>
	<iframe src="http://astore.amazon.fr/2666-livre-21" width="100%"
		height="400" frameborder="0" scrolling="auto"></iframe>
</div>

<!-- INCLUDE jumppage.html -->
<!-- INCLUDE overall_footer.html -->