<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
{SEO_BASE_HREF}
<script>
//www.phpBB-SEO.com SEO TOOLKIT BEGIN
var seo_delim_start = '{SEO_START_DELIM}';
var seo_static_pagination = '{SEO_SATIC_PAGE}';
var seo_ext_pagination = '{SEO_EXT_PAGE}';
var seo_external = {SEO_EXTERNAL};
var seo_external_sub = {SEO_EXTERNAL_SUB};
var seo_ext_classes = {SEO_EXT_CLASSES};
var seo_hashfix = {SEO_HASHFIX};
// www.phpBB-SEO.com SEO TOOLKIT END
</script>
<!-- INCLUDE header.inc.html -->
</head>

<body id="phpbb" class="{S_CONTENT_DIRECTION}">

<section class="container">
	<p><a id="top" name="top" accesskey="t"></a><span class="sr-only">{L_TOP}</span></p>
