	<!-- INCLUDE overall_header.html -->
	<h2>Création de personnage</h2>
	<div class="creation container">
		<h3 class="soustitre">
			Et tes contacts ?
		</h3>
			
		<!-- sINCLUDE creation/etape.html -->
		
		<div class="row">
			<div class="col-sm-3">
				<img src="{T_THEME_PATH}/images/lazer.jpg" width="200" height="320" class="img-thumbnail img-responsive"/>
				<hr/>
				<!-- INCLUDE creation/progression.html -->			
			</div>
			<div class="col-sm-9">
				<!-- IF S_MESSAGE -->
					<p class="alert alert-danger">
						<!-- IF S_FEMME -->
							Hum hum ! Tu es bien gentille, mais revient par ici s'il-te-plaît.
							Oui toi, la donzelle qui se balade dans les sas où elle ne doit pas aller.
							Tu fais comme tu veux ma cocotte, mais si tu te retrouves dans l'espace avant que je ne t'ai
							donnée ta combinaison spatiale, alors tu ne vas pas rire longtemps.							
						<!-- ELSE -->
							Hum hum ! Tu es mignon, mais revient par ici s'il-te-plaît.
							Oui toi, le mec au joli petit cul qui se balade dans les sas où il ne devrait pas.
							Tu fais comme tu veux mon coco, mais si tu te retrouves dans l'espace avant que je ne t'ai
							donnée ta combinaison spatiale, alors tu ne vas pas rire longtemps.
						<!-- ENDIF -->
					</p> 
				<!-- ENDIF -->
				<p>
					Bien, {S_USERNAME}, tu as quasiment terminé. J'ai toutes les informations sur tes trois premiers contact,  {CONTACT_1_NOM}, {CONTACT_2_NOM} et  {CONTACT_3_NOM}. 
					Nous allons donc passer à l'allié suivant, si tu le souhaites. Ce dernier contact est <strong>optionnel</strong>. 
					Si tu ne souhaites pas le créer, il te suffit de décocher la case à cocher ci-dessous.
				</p>
				<hr/>
				<form id="postform" class="form-horizontal" action="etape9.php" method="post"  enctype="multipart/form-data">
					{S_HIDDEN_FIELDS}
					<input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_SIZE}" />
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="hidden" name="checkbox" value="0">
									<input type="checkbox" {CHECKBOX_CHECKED} name="checkbox" value="1" onchange="activation(this.checked)"> Je souhaite créer un troisième contact
								</label>
							</div>
						</div>
					</div>
					<fieldset id="contact" class="{CLASS_HIDDEN}">
						<legend>Ton quatrième contact</legend>
						<div class="form-group">
							<label for="nom" class="col-sm-2 control-label">Nom</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="nom" id="nom" placeholder="Prénom et nom ou surnom de ton contact" value="{FORM_NOM}"  required="required">
								<span class="help-block text-info">Pour un Nephilim entre son surnom, pour un humain entre son prénom puis son nom.</span>
							</div>
						</div>
						<div class="form-group">
							<label for="avatar" class="col-sm-2 control-label">Avatar</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="avatar" id="avatar" placeholder="Prénom et nom de l'avatar" value="{FORM_AVATAR}"  required="required">
								<span class="help-block text-info">Entre le nom de la personnalité incarnant votre contact.</span>
							</div>
						</div>
						<div class="form-group">
							<label for="uploadfile" class="col-sm-2 control-label">Photo</label>
							<div class="col-sm-10">
								<!-- IF AVATAR_CONTACT -->
								<p class="form-control-static forum-avatar-cadre">{AVATAR_CONTACT}</p>
								<!-- ELSE -->
								<p class="form-control-static">Aucun avatar choisi pour le moment</p>
								<!-- ENDIF -->								
							</div>
						</div>
						<div class="form-group <!-- IF S_ERREUR -->has-error<!-- ENDIF -->">
							<label class="control-label col-sm-2" for="uploadfile">Photo locale</label>
							<div class="col-sm-10">
								<div class="input-group">
									<span class="input-group-btn">
										<span class="btn btn-primary btn-file" id="bouton">
											<i class="fa fa-folder-open"></i> <input type="file" name="uploadfile" id="uploadfile">
										</span>
									</span>
									<input type="text" class="form-control " readonly value="{FORM_LIEN}" id="readonly">
								</div>
								<span class="help-block">
									<!-- IF S_ERREUR -->
										{ERREUR}<br/>
									<!-- ENDIF -->									
									Dimensions de la photo largeur: 200 pixels, hauteur: 320 pixels, taille maximale : 650.53 Kio.</span>
							</div>
						</div>
						<div class="form-group  <!-- IF S_ERREUR -->has-error<!-- ENDIF -->">
							<label class="control-label col-sm-2" for="uploadurl">Photo distante</label>
								<div class="col-sm-10">
            						<input type="text" name="uploadurl" id="uploadurl" value="" class="form-control" />
            						<span class="help-block"><em>Saisissez l’URL de l’image. L’image sera copiée vers ce site.</em></span>
         						</div>
      					</div>
						<div class="form-group">
							<label for="description" class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
								<textarea class="form-control" name="description" id="description" placeholder="Description de ton contact" 
										  rows="4"  required="required">{FORM_DESCRIPTION}</textarea>
								<span class="help-block text-info">
									<i class="fa fa-fw fa-eye-slash"></i>&nbsp;
									Ces informations sont privées. Tu peux les détailler. Elles ne seront pas partagées. 
									Pense bien à parler de son pouvoir, de ses fonctions, des ressources qu'il peut t'apporter, bref, tout ce
									qui pourra m'aider à comprendre cet allié.  
								</span>
							</div>
						</div>
						<div class="col-sm-offset-2 col-sm-10">
							<div class="correction">
								<!-- INCLUDE posting_buttons.html -->
							</div>
						</div>
						<!-- INCLUDE messagebox.inc.html -->					
					</fieldset>
					<fieldset>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button onclick="return false;" class="btn btn-default" data-toggle="modal" data-target="#modalHelp"><i class="fa fa-fw fa-question-circle"></i>&nbsp;J'ai besoin d'aide</button>
								<button type="submit" name="apercu" class="btn btn-default"><i class="fa fa-eye"></i> Aperçu</button>
								<input type="submit"  name="submit" class="btn btn-primary" value="Je valide &gt;&gt;"/>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
<!-- DEFINE $MODAL_ID = 'modalHelp' -->
<!-- INCLUDE modal/header.html -->
Les contacts
<!-- INCLUDE modal/body.html -->
{POST_CONSEILS_CONTACT}
<!-- INCLUDE modal/footer.html -->
<!-- INCLUDE overall_footer.html -->