<!-- INCLUDE overall_header.html -->
<h2>Création de personnage</h2>

<div class="corps container">
<h3 class="soustitre">Parle-moi un peu de toi !</h3>
	
<!-- sINCLUDE creation/etape.html -->
	<div class="row">
		<div class="col-sm-3">
			<img src="{T_THEME_PATH}/images/lazer.jpg" width="200" height="320" class="img-thumbnail img-responsive"/>
			<hr/>
			<!-- INCLUDE creation/progression.html -->			
		</div>
		<div class="col-sm-9">
			<!-- IF S_MESSAGE -->
				<p class="alert alert-danger">
					<!-- IF S_FEMME -->
						Hum hum ! Tu es bien gentille, mais revient par ici s'il-te-plaît.
						Oui toi, la donzelle qui se balade dans les sas où elle ne doit pas aller.
						Tu fais comme tu veux ma cocotte, mais si tu te retrouves dans l'espace avant que je ne t'ai
						donnée ta combinaison spatiale, alors tu ne vas pas rire longtemps.							
					<!-- ELSE -->
						Hum hum ! Tu es mignon, mais revient par ici s'il-te-plaît.
						Oui toi, le mec au joli petit cul qui se balade dans les sas où il ne devrait pas.
						Tu fais comme tu veux mon coco, mais si tu te retrouves dans l'espace avant que je ne t'ai
						donnée ta combinaison spatiale, alors tu ne vas pas rire longtemps.
					<!-- ENDIF -->
				</p> 
			<!-- ENDIF -->
			<p>
				<!-- IF S_HOMME -->
				{FORM_AVATAR}&nbsp;! Tu sais que je suis fan de cet acteur. Toi et moi, on va se réserver un petit RP tous les deux.
				<!-- ELSE -->
				{FORM_AVATAR}&nbsp;! Très jolie actrice. Je connais deux trois personnages qui vont avoir hâte de jouer avec toi.
				<!-- ENDIF -->
				Mais avant cela on va finir ta fiche, tu veux bien ? Allez ne soit pas timide, vient t'asseoir à côté de moi.
			</p>
			<p>
				Bien quatrième étape, déjà. Nous allons apprendre à nous connaître un petit peu.
				Je voudrais que tu me parles de toi. Commence par te présenter<!-- IF S_HUMAIN -->.
				<!-- ELSE -->
				et comme tu es Nephilim, n'oublie pas ton âge. Je ne peux pas le deviner, vu que tu ne vieillis pas.
				<!-- ENDIF -->
				Dans ton histoire, tu dois penser à me parler de ton passé et du caractère qui s'est forgé. Sache que ces informations
				vont surtout servir pour la trame, les intrigues. Les autres joueurs ne pourront pas lire ce que tu écris. 
			</p>	
			
			<form class="form-horizontal" action="etape5.php" method="post">
				{S_HIDDEN_FIELDS}
				<fieldset>
					<legend>Carte d'identité</legend>
					<div class="form-group">
						<label for="prenom" class="col-sm-2 control-label">Prénom</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="prenom" id="prenom" placeholder="Prénom" value="{FORM_PRENOM}" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="nom" class="col-sm-2 control-label">Nom</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="nom" id="nom" placeholder="Nom de famille" value="{FORM_NOM}"  required="required">
						</div>
					</div>
					<!-- IF S_NEPHILIM -->
					<div class="form-group">
						<label for="nom" class="col-sm-2 control-label">Âge réel</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="age" id="age" placeholder="18" min="18" max="9999" value="{FORM_AGE_REEL}"  required="required">
						</div>
					</div>
					<!-- ENDIF -->
					<div class="form-group">
						<label for="nom" class="col-sm-2 control-label">Profession</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="profession" id="profession" placeholder="Profession exercée à bord" value="{FORM_PROFESSION}"  required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="nom" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" name="passe" id="passe" placeholder="Passé et description générale de votre personnage" required="required" rows="17">{FORM_PASSE}</textarea>
							<span class="help-block">
								  <i class="fa fa-eye-slash"></i>
								  Ci-dessus, entrez le passé de votre personnage. Sachez que ces informations seront cachées aux autres joueurs et que seul le fondateur le lira. Bon après il reste soudoyable ce fondateur. C'est le jeu ma pauv'Lucette !
							</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button onclick="return false;" class="btn btn-default" data-toggle="modal" data-target="#modalHelp"><i class="fa fa-fw fa-question-circle"></i>&nbsp;J'ai besoin d'aide</button>
							<input type="submit" class="btn btn-primary" value="Je valide &gt;&gt;"/>
						</div>
					</div>
				</fieldset>
			</form>	
			<br/>
			<br/>
		</div>
	</div>
</div>
<!-- DEFINE $MODAL_ID = 'modalHelp' -->
<!-- INCLUDE modal/header.html -->
Votre personnage
<!-- INCLUDE modal/body.html -->
{POST_CONSEILS_PERSONNAGE}
<!-- INCLUDE modal/footer.html -->
<!-- INCLUDE overall_footer.html -->