<!-- INCLUDE overall_header.html -->
<h2>Création de personnage</h2>

<!-- sINCLUDE progression.html -->
<div class="creation container">
<h3 class="soustitre">Bienvenue dans l'outil de création de vos personnages !</h3>
	
<!-- sINCLUDE creation/etape.html -->
	
	<div class="row">
		<div class="col-sm-3">
			<img src="{T_THEME_PATH}/images/lazer.jpg" width="200" height="320" class="img-thumbnail img-responsive"/>
			<hr/>
			<!-- INCLUDE creation/progression.html -->
		</div>
		<div class="col-sm-9">
				<p>
					Bonjour,
					
					Je me nomme «&nbsp;Lazer&nbsp;». Bienvenue à bord du «&nbsp;San Djinn Barr&nbsp;», le vaisseau de 
					«&nbsp;Lidrya Chesly&nbsp;». Ma mission consiste à te guider à bord de ce vaisseau. Les gardes t'ont
					laissé passer, alors j'imagine que tu as signé le réglement. C'est bien. Enfin... Je ne sais pas,
					Je n'ai jamais pensé qu'il était bon de signer un contrat avec Harahel. Mais tu seras peut-être l'exception 
					qui confirme la règle. Je te le souhaite en tout cas.
				</p>
				<p>
					Je viens de transférer sur ton holodeck un ensemble d'informations. Avant qu'on commence, ce serait bien 
					que tu les lises. Et prend ton temps, surtout ! Mieux tu comprendras ces informations, moins j'aurais 
					de choses à t'expliquer par la suite.
				</p>	
				
				<ol>
					<li>À lire :
						<button class="btn btn-link" data-toggle="modal" data-target="#modalSynopsis">
							<i class="fa fa-fw fa-link"></i>&nbsp;Le synopsys du jeu
						</button>
						<noscript> 
							<a href="{U_SYNOPSIS}" title="Synopsys de 2666" >Le synopsys du jeu</a>
						</noscript>
					</li> 
					<li>À lire : 
						<button class="btn btn-link" data-toggle="modal" data-target="#modalBackground">
							<i class="fa fa-fw fa-link"></i>&nbsp;Le background du jeu
						</button>
						<noscript>
							<a href="{U_BACKGROUND}" title="Background de 2666">le background</a>
						</noscript>
					</li>
				</ol>
				
				<p>
					Ah oui ! Tient, ceci est <a href="{U_RESUME}" title="Résumés des personnages">un résumé des personnages importants</a>
					déjà présents. Quoi ? Tu ne pensais quand même pas être le premier. De toute façon, les premiers personnages 
					ne font pas long feu. Ils sont souvent trop vite écrit et ne plaisent pas à leur auteur. Prends ton temps !
					C'est le conseil que je te donne.
				</p>
				
				<p>
					Ah oui, tant que j'y pense, il y a certains personnages qui sont recherchés. Tu sais, des pilotes, des explorateurs.
					Tu devrais lire les offres d'emploi. Bon ! Soit prudent, il y a certains boulots dangereux. C'est fou le nombre de
					fois où j'ai vu cette annonce d'Asmodéens qui recherchaient des esclaves sexuels. Je ne sais pas ce qu'ils leur font,
					mais ça ne doit pas être triste !
				</p>
				
				<form class="creation" action="etape1.php" method="post">
					<p class="text-center">			
						<input type="submit" class="btn btn-primary" value="Commencer la création &gt;&gt;"/>
					</p>
				</form>	
						
		</div>
	</div>
</div>
<!-- DEFINE $MODAL_ID = 'modalSynopsis' -->
<!-- INCLUDE modal/header.html -->
Sysnopsis
<!-- INCLUDE modal/body.html -->
{POST_SYNOPSIS}
<!-- INCLUDE modal/footer.html -->

<!-- DEFINE $MODAL_ID = 'modalBackground' -->
<!-- DEFINE $MODAL_OPTIONS = 'modal-lg' -->
<!-- INCLUDE modal/header.html -->
Background
<!-- INCLUDE modal/body.html -->
{POST_BACKGROUND}
<!-- INCLUDE modal/footer.html -->


<!-- INCLUDE overall_footer.html -->