<!-- INCLUDE overall_header.html -->
<h2>Création de personnage</h2>

<!-- sINCLUDE progression.html -->
	
<h3 class="soustitre">Bienvenue dans l'outil de création de vos personnages !</h3>
	
<!-- sINCLUDE creation/etape.html -->
	
	<div class="content">
	
	<img src="{T_IMAGES_PATH}/charte/avatar_vide.jpg" width="200" height="320" class="avatar_creation avatar"/>	
	<p>Bienvenue dans cet outil de création de personnage qui, en sept étapes, va vous
	guider dans l'élaboration de votre personnage. À chacune de ces étapes,
	votre personnage se peaufinera, des conseils vous seront donnés, le
	background de <em>« Rome, 3000 après Caesar »</em> vous sera détaillé. Voici la
	description de ces sept étapes !</p>
	<ol>
		<li><span class="etape">Première étape :</span> Choix de la nature de votre personnage :
		Humain ou androïde ?</li>
		<li><span class="etape">Seconde étape : Description générale :</span> vous entrerez vos noms, âge,
		avatar, sexe, etc&hellip;</li>
		<li><span class="etape">Troisième étape :</span> Vous décrirez le passé de votre personnage, ses croyances,</li>
		<li><span class="etape">Quatrième étape :</span> Vous décrirez le caractère de votre personnage,</li>
		<li><span class="etape">Cinquième étape :</span> Vous choisirez les pouvoirs, les dons, les
		capacités uniques de votre personnage,</li>
		<li><span class="etape">Sixième étape :</span> Vous pourrez prévisualiser votre fiche de personnage et
		décider de reprendre ou non certaines parties.</li>
		<li><span class="etape">Septième étape :</span> Quand vous serez satisfait de votre personnage, que
		vous aurez appliqué toutes les dernières retouches, vous pourrez demander la validation de votre personnage. 
		Dès lors, vous ne pourrez plus modifier votre fiche jusqu'à ce que le staff l'ait validé ou vous ait remonté 
		ses retours !
	</ol>
	<p>Au travers de ces étapes, vous allez être accompagné pour la création de votre personnage.
	<a href="{U_SYNOPSIS}" title="Synopsys de Rome">Le synopsys du jeu</a> et 
	<a href="{U_BACKGROUND}" title="Background de Rome">le background</a> sont des sources d'inspirations. 
	N'hésitez pas à les consulter&nbsp;! Vous trouverez également des idées en consultant 
	<a href="{U_FICHE}" title="Fiches de personnages actifs">les fiches de personnages</a> déjà existants 
	et <a href="{U_PREDEFINI}" title="Personnages prédéfinis">les personnages prédéfinis</a>.<br/>
	Lorsque vous vous sentez prêt, lancez-vous&nbsp;!</p>
	<form class="creation" action="etape1.php" method="post">
		<p class="boutons">			
			<input type="submit" value="Commencer la création &gt;&gt;"/>
		</p>
	</form>	
	</div>
</div>
<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->