<div class="dropdown pull-right forum-top-buffer">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
		Accès rapide
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<!-- IF S_ETAPE_1_VALIDE -->
		<li class="has-success">
			<a tabindex="-1" href="{U_ETAPE_1}"><i class="fa fa-fw fa-check-square-o"></i>Étape 1 : Sexe du personnage principal</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_1}"><i class="fa fa-fw fa-close"></i>Étape 1 : Sexe du personnage principal</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_2_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_2}"><i class="fa fa-fw fa-check-square-o"></i>Étape 2 : Race du personnage principal</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_2}"><i class="fa fa-fw fa-close"></i>Étape 2 : Race du personnage principal</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_3_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_3}"><i class="fa fa-fw fa-check-square-o"></i>Étape 3 : Avatar du personnage principal</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_3}"><i class="fa fa-fw fa-close"></i>Étape 3 : Avatar du personnage principal</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_4_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_4}"><i class="fa fa-fw fa-check-square-o"></i>Étape 4 : Carte d'identité</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_4}"><i class="fa fa-fw fa-close"></i>Étape 4 : Carte d'identité</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_5_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_5}"><i class="fa fa-fw fa-check-square-o"></i>Étape 5 : Résumé des informations publiques</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_5}"><i class="fa fa-fw fa-close"></i>Étape 5 : Résumé des informations publiques</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_6_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_6}"><i class="fa fa-fw fa-check-square-o"></i>Étape 6 : Les pouvoirs</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_6}"><i class="fa fa-fw fa-close"></i>Étape 6 : Les pouvoirs</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_7_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_7}"><i class="fa fa-fw fa-check-square-o"></i>Étape 7 : Création du premier contact</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_7}"><i class="fa fa-fw fa-close"></i>Étape 7 : Résumé des informations publiques</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_8_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_8}"><i class="fa fa-fw fa-check-square-o"></i>Étape 8 : Création du deuxième contact</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_8}"><i class="fa fa-fw fa-close"></i>Étape 8 : Création du deuxième contact</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_9_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_9}"><i class="fa fa-fw fa-check-square-o"></i>Étape 9 : Création du troisième contact</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_9}"><i class="fa fa-fw fa-close"></i>Étape 9 : Création du troisième contact</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_10_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_10}"><i class="fa fa-fw fa-check-square-o"></i>Étape 10 : Création du quatrième contact</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_10}"><i class="fa fa-fw fa-close"></i>Étape 10 : Création du quatrième contact</a>
		</li>
		<!-- ENDIF -->
		<!-- IF S_ETAPE_11_VALIDE -->
		<li class="success">
			<a tabindex="-1" href="{U_ETAPE_10}"><i class="fa fa-fw fa-check-square-o"></i>Étape 11 : Vérification</a>
		</li>
		<!-- ELSE -->
		<li class="disabled">
			<a tabindex="-1" href="{U_ETAPE_10}"><i class="fa fa-fw fa-close"></i>Étape 11 : Vérification</a>
		</li>
		<!-- ENDIF -->
		
	</ul>
</div>