@CHARSET "UTF-8";

/** Gestion des polices **/
@font-face{font-family:'coalition';src:url('{T_THEME_PATH}/fonts/coalition.ttf?v=2.0.0');}

h1,h5,h6,
section h2,
section h3,
section h4,
span.coalition,
table.table th a,
table thead tr th,
.jumbotron p.description,
ul.accueil2666,
p.accueil2666,
span.coalition
{
	font-family:'coalition','Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fa-stack-upper-right{
	margin-top   :-3px;
	margin-left	 :10px;	
}
.text-gold{
	color:#926D27;
}

table tbody tr td a{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
	margin-top:-10px;
	padding-top:10px;
}
body{
	background-color:#000;
	/*background-image:url('{T_THEME_PATH}/images/background/index.jpg');*/
	background-position:  center -120px;
	background-repeat: no-repeat;	
	background-attachment: fixed;
}
footer a{
	color:#333
}
nav.container,
section.container,
nav.footer{
	background-color: rgba(255,255,255,0.65);
}
nav.footer{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
blockquote{
	font-size:small;
}

.jumbotron h1{
	font-size: 80px;
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
}
blockquote{
	border-left-color : #428BCA;
}
.jumbotron p.description{
	font-size: 16px;
	text-shadow: 2px 2px 2px #2C6CAE;
}
.jumbotron p.description,.jumbotron p.help-block a small{
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
}

.jumbotron {
	background-color: black;
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
	background-position: center center;
	background-repeat: no-repeat;
	border-bottom: thin solid black;
	margin-bottom:0;
	/* -moz-box-shadow: 0px 5px 10px 2px #2C6CAE;
	-webkit-box-shadow: 0px 5px 10px 2px #2C6CAE;
	-o-box-shadow: 0px 5px 10px 2px #2C6CAE;
	box-shadow: 0px 5px 10px 2px #2C6CAE;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C6CAE, Direction=180, Strength=10);*/
	 
}
/** Suppression d'informations **/
div.inline-attachment dl.file dd{
	display: none;
}
span.pull-right div.inline-attachment{
	margin-left : 20px;
}
span.noborder img.img-thumbnail{
	border-style: none;
}
span.pull-left img.img-thumbnail{
	margin-right : 5px;
}
span.pull-right img.img-thumbnail{
	margin-left : 5px;
}

table.table{
	background-color:white;
	background-color:rgba(255,255,255,0.70);
}
p.recherche-avancee{
	text-align:right;
}
div.page-header {
	margin-bottom:0;
}

.page-header h1 small {
	font-size: large;
}

body.accueil{
	background-color: black;
	background-image : url('{T_THEME_PATH}/images/bg_etoile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
 
}
.accueil h1{
	font-size: 100px;
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
}
.accueil h1 small{
	display:block;
	font-size: 20px;
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
}

.accueil div.container{
	margin-top:100px;
	text-align:center;	
}
.accueil div.panel-2666{
	background-color:transparent
}
.accueil div.panel-2666 .panel-body{
	height:400px;
	background-image : none;
	background-image : url('{T_THEME_PATH}/images/background/verre.png');
	background-position: top left;
	background-repeat: no-repeat;
}
.accueil ul.accueil2666{
	font-size:large;	
}

div.panel-2666{
	
}
p{
	text-align:justify;
}
p.accueil2666{
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
	vertical-align: bottom;
	line-height:200px;	
}
a.white{
	color:white;
}

table thead tr{
	background-image: url('{T_THEME_PATH}/images/thead.jpg');
	background-position: center center;
}
table thead tr th{
	color:#333333;
	font-size:xx-small;
}
table tbody tr td a.uppercase{
	color:#333333;
	text-transform: uppercase;
	font-weight: bold;
}
table thead tr th a{
	color:#333333;
	font-size:small;
}
div.corps,div#postingbox,div.creation,div.corps-flood{
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	border : thin solid #428BCA;
	text-align: justify;
	padding-left:20px;
	padding-right:20px;	
}
section.section-ucp{
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.8);
}
div.corps{
	padding-top : 4px;
	padding-bottom : 4px;
	margin-left:-15px;
}
div.corps-flood{
	padding-top : 4px;
	padding-bottom : 4px;
	min-height: 102px;
	width:1055px;
}

div.div-thumbnail{
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #428BCA;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}
div.div-thumbnail img, img.img-thumbnail{
	border-color:#428BCA;
}
div#postingbox{
	padding:4px;
}
/** Corrections d'alignement **/
div.correction{
	margin-left:5px;
}
.text-justify{
	text-align:justify;
}
.posthilit{
	background-color: #428BCA;
}
/* Fond d'écran par défaut */
header{
	background-color:white;	
}

/* Fond d'écrans spécialisés */
body.body-etape1 header.header-etape1,
body.body-etape2 header.header-etape2,
body.body-etape3 header.header-etape3,
body.body-etape4 header.header-etape4,
body.body-etape5 header.header-etape5,
body.body-etape6 header.header-etape6,
body.body-etape7 header.header-etape7,
body.body-etape8 header.header-etape8,
body.body-etape9 header.header-etape9,
body.body-etape11 header.header-etape11,
body.body-etape10 header.header-etape10{
	background-image: url('{T_THEME_PATH}/images/bandeau/creation.jpg');
}
/** Personnalisation de présentation du jeu **/
body.body-f1{
	background-image:url('{T_THEME_PATH}/images/background/presentation.jpg');
}

/** Personnalisation de ou suis-je **/
body.body-f2{
	background-image:url('{T_THEME_PATH}/images/background/ou-suis-je.jpg');
}
/** Personnalisation de aide-de-jeu **/
body.body-f4{
	background-image:url('{T_THEME_PATH}/images/background/aide-de-jeu.jpg');
}

/** Personnalisation de personnage **/
body.body-f5{
	background-position: center -100px;
	background-image:url('{T_THEME_PATH}/images/background/personnages.jpg');
}
/** Personnalisation de personnage importants **/
body.body-f6{
	background-position:top center;
	background-image:url('{T_THEME_PATH}/images/background/lidrya.jpg');
}
/** Personnalisation des liens **/
body.body-f7{
	background-position: center -100px;
	background-image:url('{T_THEME_PATH}/images/background/liens.jpg');
}
/** Personnalisation des liens **/
body.body-f8{
	/*background-position: center -100px;*/
	background-image:url('{T_THEME_PATH}/images/background/resumes.jpg');
}
/** Personnalisation de espace de jeu **/
body.body-f10{
	background-position:center 0;
	background-image:url('{T_THEME_PATH}/images/background/espace-de-jeu.jpg');
}
/** Personnalisation de l'espace détente **/
body.body-f12{
	background-image:url('{T_THEME_PATH}/images/background/espace-detente.jpg');
}
/** Personnalisation de partenaire **/
body.body-f13{
	background-position:top center;
	background-image:url('{T_THEME_PATH}/images/background/partenaires.jpg');
}
/** Personnalisation des absences **/
body.body-f14{
	background-image:url('{T_THEME_PATH}/images/background/absences.jpg');
}
/** Personnalisation de description du jeu **/
body.body-f15{
	background-image:url('{T_THEME_PATH}/images/background/description-du-jeu.jpg');
}
/** Personnalisation de san djinn barr **/
body.body-f16{
	background-position:center bottom;
	background-image:url('{T_THEME_PATH}/images/background/san-djinn-barr.jpg');
}
/** Personnalisation de la passerelle **/
body.body-f17{
	background-position:center -100px;
	background-image:url('{T_THEME_PATH}/images/background/passerelle.jpg');
}
/** Personnalisation des soutes **/
body.body-f18{
	background-image:url('{T_THEME_PATH}/images/background/soutes.jpg');
}
/** Personnalisation des coursives **/
body.body-f21{
	background-position:center top;
	background-image:url('{T_THEME_PATH}/images/background/coursive.jpg');
}
/** Personnalisation de quais **/
body.body-f22{
	background-position:center top;
	background-image:url('{T_THEME_PATH}/images/background/quais.jpg');
}
/** Personnalisation de reacteur **/
body.body-f23{
	background-image:url('{T_THEME_PATH}/images/background/reacteur.jpg');
}
/** Personnalisation de vaisseau-monde **/
body.body-f24{
	background-image:url('{T_THEME_PATH}/images/background/vaisseau-monde.jpg');
}

/** Personnalisation des navettes **/
body.body-f25{
	background-image:url('{T_THEME_PATH}/images/background/navette.jpg');
}
/** Personnalisation de biseau **/
body.body-f27{
	background-image:url('{T_THEME_PATH}/images/background/biseau.jpg');
}
/** Personnalisation de ou suis-je **/
body.body-f28{
	background-position:center -100px;
	background-image:url('{T_THEME_PATH}/images/background/raven.jpg');
}
/** Personnalisation du espace virtuel **/
body.body-f30,body.body-f32{
	background-image:url('{T_THEME_PATH}/images/background/espace-virtuel.jpg');
}
/** Personnalisation du holodeck **/
body.body-f31{
	background-image:url('{T_THEME_PATH}/images/background/holodeck.jpg');
}
body.body-f33{
	background-image:url('{T_THEME_PATH}/images/background/visioconference.jpg');
}
body.body-f35{
	background-image:url('{T_THEME_PATH}/images/background/enerim.jpg');
}
body.body-f36{
	background-image:url('{T_THEME_PATH}/images/background/service-medical.jpg');
}
/** Visière bleue par défaut **/
body header{
	background: -moz-linear-gradient(top,  rgba(44,108,174,1) 0%, rgba(44,108,174,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,108,174,0.85)), color-stop(100%,rgba(44,108,174,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,108,174,1) 0%,rgba(44,108,174,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,108,174,1) 0%,rgba(44,108,174,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,108,174,1) 0%,rgba(44,108,174,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(44,108,174,1) 0%,rgba(44,108,174,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92c6cae', endColorstr='#332c6cae',GradientType=0 ); /* IE6-9 */
}

/** Visière brune **/
body.body-f15 header,body.body-f31 header,body.body-f8 header,body.body-f14 header{
	background: -moz-linear-gradient(top,  rgba(116,71,23,1) 20%, rgba(116,71,23,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(116,71,23,1)), color-stop(100%,rgba(116,71,23,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(116,71,23,1) 20%,rgba(116,71,23,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(116,71,23,1) 20%,rgba(116,71,23,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(116,71,23,1) 20%,rgba(116,71,23,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(116,71,23,1) 20%,rgba(116,71,23,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#744717', endColorstr='#33744717',GradientType=0 ); /* IE6-9 */
}
/** Visière jaune **/
body.body-f13 header{
	background: -moz-linear-gradient(top,  rgba(255,212,0,1) 0%, rgba(255,212,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,212,0,1)), color-stop(100%,rgba(255,212,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,212,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,212,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,212,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,212,0,1) 0%,rgba(255,212,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd400', endColorstr='#00ffd400',GradientType=0 ); /* IE6-9 */
	
}
/** Visière noire **/
body.body-f12 header{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
	/* http://www.colorzilla.com/gradient-editor/ */
}
/** Visière tron **/
body.body-f12 header{
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(3,202,241,0.31) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(3,202,241,0.31))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(3,202,241,0.31) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(3,202,241,0.31) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(3,202,241,0.31) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(3,202,241,0.31) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4f03caf1',GradientType=0 ); /* IE6-9 */
}

body.body-f12 footer{
}
nav.footer-f12 {
}



/* Responsive
-------------------------------------------------- */

/* Desktop large
	 Au dessus de 1200
------------------------- */
@media (min-width: 1200px) {
	.borderedContainer{
		width:1138px;	
	}
	.accueil div.container{
		width:940px;
	}
	div.wrap2666{
		width:1200px;
		margin:auto;
	}
	div.corps-flood{
		width:1050px
	}
}

/* Desktop entre 980 et 1200
------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {
	.borderedContainer{
		width:938px;	
	}
	div.wrap2666{
		width:980px;
		margin:auto;
	}
	div.corps-flood{
		width:873px;
	}
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	.borderedContainer{
		width:718px;	
	}
	.jumbotron h1{
		font-size: 60px;
	}
	div.wrap2666{
		width:768px;
		margin:auto;
	}
	div.corps-flood{
		width:610px;
		min-height: 145px;
	}
}

/* Tablet Only
------------------------- */
@media (min-width: 481px) and (max-width: 767px) {
	.borderedContainer{
	}
	.jumbotron h1{
		font-size: 60px;
	}
	div.wrap2666{
		width:100%;
		margin:auto;
	}
	div.corps-flood{
		width:100%;
		margin:auto;
	}
	
}

/* Landscape phones and smaller
------------------------- */
@media (max-width: 480px) {
	.borderedContainer{
	}
	.jumbotron h1{
		font-size: 60px;
	}
	div.wrap2666{
		width:100%;
		margin:auto;
	}
	body{
		background-image: none;
	}
	div.corps-flood{
		width:100%;
		margin:auto;
	}

}

div#bg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-10;
	background-color:#000;
    background-position:center top;
}
