@CHARSET "UTF-8";

@font-face{font-family:'coalition';src:url('{T_THEME_PATH}/fonts/coalition.ttf?v=2.0.0');}

h1,h5,h6,
section h2,
section h3,
section h4,
span.coalition,
table.table th a,
table thead tr th,
.jumbotron p.description,
ul.accueil2666,
p.accueil2666
{
	font-family:'coalition','Helvetica Neue', Helvetica, Arial, sans-serif;
}
table tbody tr td a{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
	margin-top:-10px;
	padding-top:10px;
}
body{
	background-color:white;
	background-image:url('{T_THEME_PATH}/images/vaisseau.jpg');
	background-position: center center;
	background-repeat: no-repeat;	
}
footer{
	background-color:white;
/*	-moz-box-shadow: 0px 0px 10px 5px #2C6CAE;
	-webkit-box-shadow: 0px 0px 10px 5px #2C6CAE;
	-o-box-shadow: 0px 0px 10px 5px #2C6CAE;
	box-shadow: 0px 0px 10px 5px #2C6CAE;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C6CAE, Direction=NaN, Strength=10);*/
}
blockquote{
	font-size:small;
}

.jumbotron h1{
	font-size: 80px;
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
}
blockquote{
	border-left-color : #428BCA;
}
.jumbotron p.description{
	font-size: 16px;
	text-shadow: 2px 2px 2px #2C6CAE;
}
.jumbotron p.description,.jumbotron p.help-block a small{
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
}

.jumbotron {
	background-color: black;
	background-image: url('{T_THEME_PATH}/images/jumbotron.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	border-bottom: thin solid black;
	margin-bottom:0;
	/* -moz-box-shadow: 0px 5px 10px 2px #2C6CAE;
	-webkit-box-shadow: 0px 5px 10px 2px #2C6CAE;
	-o-box-shadow: 0px 5px 10px 2px #2C6CAE;
	box-shadow: 0px 5px 10px 2px #2C6CAE;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C6CAE, Direction=180, Strength=10);*/
	 
}

table.table{
	background-color:white;
}

div.page-header {
	margin-bottom:0;
}

.page-header h1 small {
	font-size: large;
}

body.accueil{
	background-color: black;
	background-image : url('{T_THEME_PATH}/images/bg_etoile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
 
}
.accueil h1{
	font-size: 100px;
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
}
.accueil h1 small{
	display:block;
	font-size: 20px;
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
}

.accueil div.container{
	margin-top:100px;
	text-align:center;	
}
.accueil div.panel-2666 .panel-body{
	height:400px;
	background-image : url('{T_THEME_PATH}/images/accueil.jpg');
	background-position: center center;
	background-repeat: no-repeat;

}
.accueil ul.accueil2666{
	font-size:large;	
}

div.panel-2666{
	
}
p{
	text-align:justify;
}
p.accueil2666{
	color:white;
	text-shadow: 2px 2px 2px #2C6CAE;
	vertical-align: bottom;
	line-height:200px;	
}
a.white{
	color:white;
}

table thead tr{
	background-image: url('{T_THEME_PATH}/images/thead.jpg');
	background-repeat: no-repeat;
	background-position: right;
}
table thead tr th{
	color:#333333;
	font-size:xx-small;
}
table tbody tr td a{
	color:#333333;
	text-transform: uppercase;
	font-weight: bold;
}
table thead tr th a{
	color:#333333;
	font-size:small;
}
div.corps,div#postingbox,div.creation{
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	border : thin solid #428BCA;
	text-align: justify;
	padding-left:20px;
	padding-right:20px;	
}
section.section-ucp{
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.8);
}
div.corps{
	padding-top : 4px;
	padding-bottom : 4px;
	margin-left:-15px;
}
div.div-thumbnail{
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #428BCA;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}
div.div-thumbnail img, img.img-thumbnail{
	border-color:#428BCA;
}
div#postingbox{
	padding:4px;
}
/** Corrections d'alignement **/
div.correction{
	margin-left:5px;
}
.text-justify{
	text-align:justify;
}
.posthilit{
	background-color: #428BCA;
}
/* Fond d'écran par défaut */
header{
	background-color:white;	
}

/* Fond d'écrans spécialisés */
body.body-etape1 header.header-etape1,
body.body-etape2 header.header-etape2,
body.body-etape3 header.header-etape3,
body.body-etape4 header.header-etape4,
body.body-etape5 header.header-etape5,
body.body-etape6 header.header-etape6,
body.body-etape7 header.header-etape7,
body.body-etape8 header.header-etape8,
body.body-etape9 header.header-etape9,
body.body-etape11 header.header-etape11,
body.body-etape10 header.header-etape10{
	background-position : top center;
	background-image: url('{T_THEME_PATH}/images/bandeau/creation.jpg');
}



/* Responsive
-------------------------------------------------- */

/* Desktop large
	 Au dessus de 1200
------------------------- */
@media (min-width: 1200px) {
	.borderedContainer{
		width:1138px;	
	}
	.accueil div.container{
		width:940px;
	}
	div.wrap2666{
		width:1200px;
		margin:auto;
	}
}

/* Desktop entre 980 et 1200
------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {
	.borderedContainer{
		width:938px;	
	}
	div.wrap2666{
		width:980px;
		margin:auto;
	}
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	.borderedContainer{
		width:718px;	
	}
	.jumbotron h1{
		font-size: 60px;
	}
	div.wrap2666{
		width:768px;
		margin:auto;
	}
}

/* Tablet Only
------------------------- */
@media (min-width: 481px) and (max-width: 767px) {
	.borderedContainer{
	}
	.jumbotron h1{
		font-size: 60px;
	}
	div.wrap2666{
		width:100%;
		margin:auto;
	}
}

/* Landscape phones and smaller
------------------------- */
@media (max-width: 480px) {
	.borderedContainer{
	}
	.jumbotron h1{
		font-size: 60px;
	}
	div.wrap2666{
		width:100%;
		margin:auto;
	}

}